<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="kosong" *ngIf="daftar.length === 0">
    <ion-text color="medium">Belum ada transaksi</ion-text>
  </div>

  <ion-list *ngIf="daftar.length > 0">
    <ion-item button="true" [detail]="true" *ngFor="let t of daftar" [routerLink]="['/transaksi-detail', t.id]">
      <ion-label>
        <h3>Transaksi #{{ t.id }}</h3>
        <p>{{ formatTanggal(t.tanggal) }} - {{ t.items.length }} jenis barang</p>
      </ion-label>
      <ion-note slot="end" color="primary">{{ formatRupiah(t.total) }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard" routerLinkActive="tab-selected">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/produk" routerLinkActive="tab-selected">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/transaksi" routerLinkActive="tab-selected">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/profil" routerLinkActive="tab-selected">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>