#bingkai-logo {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  position: relative;
  z-index: 2;
}

.logo-besar {
  width: 96px;
  height: 96px;
  border: 3px solid var(--ion-color-secondary);
}

.kartu-naik {
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

.kartu-naik ion-card-content {
  padding-top: 30px;
}

.tengah {
  text-align: center;
}

.tengah h1 {
  color: var(--ion-color-primary);
  margin-bottom: 4px;
}
