<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" [class.dark-theme]="theme.isDarkMode">
  <div id="ringkasan">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ringkasan Hari Ini</ion-card-subtitle>
        <ion-card-title>Toko Makmur Jaya</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="cube-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>Jumlah Produk</p>
            <h2>{{ jmlProduk }} item</h2>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="receipt-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>Total Transaksi Hari Ini</p>
            <h2>{{ jmlTransaksi }} transaksi</h2>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>Total Penjualan Hari Ini</p>
            <h2>{{ formatRupiah(totalPenjualan) }}</h2>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="trophy-outline" slot="start" color="secondary"></ion-icon>
          <ion-label>
            <p>Produk Terlaris</p>
            <h2>{{ namaTerlaris }}</h2>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [class.dark-theme]="theme.isDarkMode">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard" routerLinkActive="tab-selected">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/produk" routerLinkActive="tab-selected">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/transaksi" routerLinkActive="tab-selected">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/profil" routerLinkActive="tab-selected">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>