<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ modeEdit ? 'Edit Produk' : 'Tambah Produk' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="simpan()">
    <ion-item>
      <ion-input label="Nama Produk" labelPlacement="floating" formControlName="nama"></ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="pesanError('nama')">{{ pesanError('nama') }}</ion-note>

    <ion-item>
      <ion-select label="Kategori" labelPlacement="floating" placeholder="Pilih kategori" formControlName="kategori">
        <ion-select-option *ngFor="let k of kategoriList" [value]="k">{{ k }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="pesanError('kategori')">{{ pesanError('kategori') }}</ion-note>

    <ion-item>
      <ion-input label="URL Gambar (opsional)" labelPlacement="floating" formControlName="gambar"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Harga Beli" labelPlacement="floating" inputmode="numeric" formControlName="hargaBeli"></ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="pesanError('hargaBeli')">{{ pesanError('hargaBeli') }}</ion-note>

    <ion-item>
      <ion-input label="Harga Jual" labelPlacement="floating" inputmode="numeric" formControlName="hargaJual"></ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="pesanError('hargaJual')">{{ pesanError('hargaJual') }}</ion-note>

    <ion-item>
      <ion-input label="Stok" labelPlacement="floating" inputmode="numeric" formControlName="stok"></ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="pesanError('stok')">{{ pesanError('stok') }}</ion-note>

    <ion-button type="submit" expand="block" class="tombol-simpan">
      {{ modeEdit ? 'Simpan Perubahan' : 'Simpan Produk' }}
    </ion-button>
  </form>
</ion-content>