<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="modeEdit">Edit Produk</ion-title>
    <ion-title *ngIf="!modeEdit">Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

    <ion-item>
      <ion-input
        label="Nama Produk"
        labelPlacement="stacked"
        placeholder="Masukkan nama produk"
        [(ngModel)]="nama">
      </ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="errorNama">{{ errorNama }}</ion-note>

    <ion-item>
      <ion-select
        label="Kategori"
        labelPlacement="stacked"
        placeholder="Pilih kategori"
        [(ngModel)]="kategori">
        <ion-select-option *ngFor="let k of kategoriList" [value]="k">{{ k }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="errorKategori">{{ errorKategori }}</ion-note>

    <ion-item>
      <ion-input
        type="url"
        label="URL Gambar (opsional)"
        labelPlacement="stacked"
        placeholder="https://contoh.com/gambar.jpg"
        [(ngModel)]="gambar">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        label="Harga Beli"
        labelPlacement="stacked"
        placeholder="Contoh: 5000"
        [(ngModel)]="hargaBeli">
      </ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="errorHargaBeli">{{ errorHargaBeli }}</ion-note>

    <ion-item>
      <ion-input
        type="number"
        label="Harga Jual"
        labelPlacement="stacked"
        placeholder="Contoh: 7000"
        [(ngModel)]="hargaJual">
      </ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="errorHargaJual">{{ errorHargaJual }}</ion-note>

    <ion-item>
      <ion-input
        type="number"
        label="Stok"
        labelPlacement="stacked"
        [(ngModel)]="stok">
      </ion-input>
    </ion-item>
    <ion-note color="danger" class="pesan-error" *ngIf="errorStok">{{ errorStok }}</ion-note>

  </ion-list>

  <ion-button (click)="simpan()" expand="block" class="tombol-simpan">
    Simpan Produk
  </ion-button>
</ion-content>
