<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon name="moon-outline" slot="start"></ion-icon>
      <ion-toggle [checked]="gelap" (ionChange)="toggleDarkMode($event)">Mode Gelap</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>